button,
div,
form,
input,
h1,
h2,
h3,
label,
.rating {
    margin: 10px;
    color: black;
    text-align: center;
    }

h1 {
    margin-left: 20px;
}

.rating {
    text-decoration: underline;
    margin-bottom: 20px;
}

/* giphy class is no longer being used 
.giphy { 
     margin: 10px;
}*/

label {
    margin-bottom: 20px;
}

button, #add-giphy {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ff1493;
    color: white;
}
        
#giphy-input {
    color: black;
}

body {
    /* background-color: #ffb6c1; */
    background-image: url("../images/pink_rice.png");
}

img {
    margin-left: 10px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    img {
        width: 150px;
    }
}

/* switched this css to apply to all screens
@media only screen and (max-width: 575px) {
    img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
} */
